<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <form action="/api/posts" method="post">
      <div>
        <input type="text" name="userId" value="<%=userId%>" />
        <input type="text" placeholder="Title..." name="title" required />
        <input type="text" placeholder="Content..." name="content" required />
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
