<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wizard World Blog - <%=title%></title>
  </head>
  <body>
    <h1><a href="/">Wizard World Blog</a></h1>
    <h3><%= status %> <%= msg %></h3>
  </body>
</html>
